(
    lights: [
        (
            loc: (
                x: 0.5,
                y: 0.4,
            ),
            col: (
                x: 1,
                y: 0,
                z: 0,
            ),
        ),
        (
            loc: (
                x: 0.41339745963,
                y: 0.55,
            ),
            col: (
                x: 0,
                y: 1,
                z: 0,
            ),
        ),
        (
            loc: (
                x: 0.58660254037,
                y: 0.55,
            ),
            col: (
                x: 0,
                y: 0,
                z: 1,
            ),
        ),
        (
            loc: (
                x: 0.5,
                y: 0.8,
            ),
            col: (
                x: 1,
                y: 0,
                z: 0,
            ),
        ),
        (
            loc: (
                x: 0.24019237887,
                y: 0.35,
            ),
            col: (
                x: 0,
                y: 1,
                z: 0,
            ),
        ),
        (
            loc: (
                x: 0.75980762113,
                y: 0.35,
            ),
            col: (
                x: 0,
                y: 0,
                z: 1,
            ),
        ),
    ],
    occluders: [
        (
            centre: (
                x: 0.5,
                y: 0.5,
            ),
            radius: 0.15,
        ),
        (
            centre: (
                x: 0.5,
                y: 0.5,
            ),
            radius: 0.05,
        ),
    ],
)
